<div id = "background">
</div>

<div class = "container">
<div class = "jumbotron">
<h1>Get Some Movie News</h1>
</div>
</div>

<div id = "new-stuff">
    <h2>Get the latest News </h2>
    <div id = "new-info">
    </div>
    <div id = "notes">
    </div>
    <div id = "saveNote">
    </div>
    <button id = "get-it" type="button" class="btn btn-primary">Get the News</button>
    <button id = "currentRender" type = "button" class = "btn btn-success">Show the News</button>
    <button id = "remove-it" type="button" class="btn btn-danger">Remove the News</button>
    <button id = "saveBtn" type = "button" class = "btn btn-info"> Get the Notes </button>
</div>

