<div id = "background">
</div>

<div class = "container">
<div class = "jumbotron">
<h1>La De Tone</h1>
</div>
</div>



<div id = "new-stuff">
    <h2>Get the latest News </h2>
    <div id = "new-info">
    </div>
    <div id = "notes">
    </div>
    <button id = "get-it" type="button" class="btn btn-primary">Primary</button>
    <button id = "remove-it" type="button" class="btn btn-danger">Remove</button>

  
</div>


<br>
