body{
	background: url("https://secure.static.tumblr.com/4d3dd0aabf6c52c57afc18879c169ae1/riqitkz/9nhn15y8u/tumblr_static_2012_movies_collage.jpg");
}

h1{
	text-align: center;
	font-weight: bold;
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
	font-size: 90px;
}

h2{
	color: #2bafda;
	text-align: center;
	font-weight: bold;
  background: black;
  width: 300px;
  position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 600s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 600s;
}

@-webkit-keyframes example {
    0%   {background-color:black; left:0px; right:0px;}
    25%  {background-color:black; left:1150px; right:0px;}
    75%  {background-color:black; left:0px; right:0px;}
    100% {background-color:black; left:1150px; right:0px;}
}
@keyframes example {
    0%   {background-color:black; left:0px; right:0px;}
    25%  {background-color:black; left:1150px; right:0px;}
    75%  {background-color:black; left:0px; right:0px;}
    100%  {background-color:black; left:1150px; right:0px;}
}

.jumbotron{
	background-color: lightblue;
	opacity: 0.70;
}
#new-stuff{
	color: #353232;
	font-size: 16px;
	
}

.delete-it{
	float: right;
}

p.solo{
	
  padding: 5px;
  margin: 5px;
  background-color: lightblue;
  opacity: 0.5;


}

p:hover {
    opacity: 1.0;
}

p.soloStuff{
  padding: 5px;
  margin: 5px;
  background-color: #ca7914;
  opacity: 0.5;

}

#new-info{
	 display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
}

#notes {
        float: right;
        width: 30%;
        background: lightblue;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;

      }
      textarea {
        height: 200px;
        font-size: 18px;
      }